* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	outline: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
blockquote {
	quotes: none;
}
blockquote:before, blockquote:after {
	content: '';
	content: none;
}
del {
	text-decoration: line-through;
}
header, section, article, aside, nav, footer, address {
	display: block;
}
body {
	font-family: 'open_sansregular',Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #333;
	overflow-x: hidden;
	min-width: 320px;
}
input,textarea,select{
	font-family: 'open_sansregular',Arial, Helvetica, sans-serif;
}
p{
	line-height: 1.6em;
}
br.clear{
	clear: both;
}
.left{
	float: left;
}
.right{
	float: right;
}
.thumb{
	display: block;
}
.thumb img{
	display: block;
	width:100%;
}
a:hover,[type="submit"]:hover{
	filter: alpha(opacity = 85);
	-moz-opacity: 0.85;
	-khtml-opacity: 0.85;
	opacity: 0.85;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1200px;
}
@font-face {
    font-family: 'nunitoregular';
    src: url('../fonts/nunito/nunito-regular-webfont.woff2') format('woff2'),
         url('../fonts/nunito/nunito-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'audreymedium';
    src: url('../fonts/audrey/audrey-medium-webfont.woff2') format('woff2'),
         url('../fonts/audrey/audrey-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#home{
	background-image: url("../images/background.jpg");
	background-size: cover;
	padding-top: 25px;
	position: relative;
}
#home header{
}
#home header h1{
	display: inline-block;
	float: left;
	width: 100px;
}
#home header h1 a{
	display: block;
}
#home header h1 img{
	display: block;
	width: 100%;
}
#home header span.menu{
	width: 32px;
	height: 32px;
	float: right;
	margin-top: 20px;
	cursor: pointer;
}
#home header span.close{
	width: 24px;
	height: 24px;
	position: absolute;
	top: 46px;
	right: 78px;
	z-index: 2;
	cursor: pointer;
	display: none;
}
#home header nav.menu{
	background-color: rgba(255,255,125,.9);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
	z-index: 1;
}
#home header nav.menu ul{
	text-align: center;
	padding-top: 40px;
}
#home header nav.menu ul li{
	margin-bottom: 40px;
}
#home header nav.menu ul li a{
	color: black;
	font-size: 30px;
	text-transform: uppercase;
	font-weight: bold;
	font-family: 'audreymedium';
}
#home .spotlight{
	text-align: center;
}
#home .spotlight h1{
	display: block;
	width: 550px;
	margin: 0 auto;
	height: 250px;
}
#home .spotlight h1 img{
	display: block;
	width: 100%;
}
#home .spotlight p{
	text-align: center;
	color: #fff;
	font-family: 'audreymedium';
	font-size: 25px;
	margin-top: 30px;
	line-height: 2.6em;
}
#days{
	background-color: #fff;
	padding: 90px 0;
}
#days h4.head{
	text-align: center;
	margin-bottom: 60px;
	color: #000;
    font-family: 'nunitoregular';
    font-size: 50px;
}
#days div.links{
	text-align: center;
}
#days div.links a{
	display: block;
	color: #fff;
	text-align: center;
	font-size: 23px;
	font-family: 'audreymedium';
	font-weight: bold;
	text-transform: capitalize;
	padding: 15px 50px;
}
#days div.links a.button{
	display: inline-block;
	text-align: center;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
	border: 1px solid #fff;
	border-radius: 50px;
	width: 30%;
	margin-right: 4%;
	background-color: #000d33;	
}
#days div.links a.button:last-child{
	margin-right: 0;
}
#ourteams{
	background-color: #f5f5f0;
	padding: 50px 0;
}
#ourteams h2.head{
	text-align: center;
	font-size: 45px;
    font-family: 'nunitoregular';
	color: #000;
	text-transform: capitalize;
	margin-bottom: 50px;
}
#ourteams ul{
	float: left;
	width: 100%;
	margin-bottom: -2%;
}
#ourteams ul li.box{
	float: left;
	width: 30%;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
	margin-right: 5%;
	background-color: #fff;
	margin-bottom: 5%;
	padding: 30px 0;
}
#ourteams ul li.box:nth-child(3n){
	margin-right: 0;
}
#ourteams ul li.box div.round-image{
	text-align: center;
	width: 200px;
	height: 200px;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
}
#ourteams ul li.box div.round-image.jasir{
	background-image: url('../images/jasir.jpg');
	
}
#ourteams ul li.box div.round-image.naseef{
	background-image: url('../images/naseef.jpg');
	background-size: cover; 
	background-position-x:center; 
}
#ourteams ul li.box div.round-image.ash{
	background-image: url('../images/ash.jpg');
	background-size: cover;
}
#ourteams ul li.box div.round-image.parol{
	background-image: url('../images/parol.jpg');

}
#ourteams ul li.box div.round-image.ansar{
	background-image: url('../images/ansar.jpg');

}
#ourteams ul li.box div.round-image.munshi{
	background-image: url('../images/munshi.jpg');
}
#ourteams ul li.box div.content{
	text-align: center;
}
#ourteams ul li.box div.content h4.name{
	font-family: 'audreymedium';
	margin: 20px 0;
	font-size: 26px;
	text-transform: capitalize;
}
#ourteams ul li.box div.content p{
	font-family: 'nunitoregular';
	font-size: 20px;
	text-transform: capitalize;
}
#location{
	padding: 50px;
}
#location h2{
	text-align: center;
    font-family: 'nunitoregular';
	font-size: 45px;
	margin-bottom: 60px;
	text-transform: capitalize;
	color: #000;
}
footer{
	margin: 0 auto;
}
footer div.bottom{
	padding: 30px 0;
	background-color: #000000;
}
footer div.bottom h4{
	width: 50%;
	text-align: center;
    font-family: 'nunitoregular';
	font-size: 15px;
	color: #fff;
	text-transform: capitalize;
}
#contact{
	background-color: #2D2D2D;
	padding: 30px 0;
	margin: 0 auto;
}
#contact ul{
	float: left;
	text-align: center;
	width: 100%;
}
#contact ul li{
	width: 50%;
}
#contact ul li h3{
	color: #fff;
	margin-bottom: 20px;
	font-family: 'audreymedium';
	text-align: center;
}
#contact ul li.icon{
	text-align: left;
	text-align: center;
}
#contact ul li.icon a{
	display: inline-block;
	font-size: 35px;
    color: mediumvioletred;
}
#contact ul li.icon span{
	width: 100%;
	display: block;
}
#contact ul li.number span{
	display: inline-block;
	margin-right: 30px;
}
#contact ul li.number span:last-child{
	margin-right: 0;
}
#contact ul li.number span b{
	color: #fff;
	display: block;
	margin-bottom: 10px;
	font-family: 'audreymedium';
	font-size: 18px;
}
#contact ul li.number span a{
	color: #fff;
	display: block;
	font-family: 'nunitoregular'
	margin-bottom: 30px;
}



/*first day section*/

#firstday{
	padding: 50px 0;
	background-color: #f5f5f0;
}
#firstday div.head{
	margin-bottom: 50px;
	line-height: 2.6em;
}
#firstday div.head h2{
	text-align: center;
    font-family: 'nunitoregular';
	font-size: 40px;
	color: #000;
	text-transform: capitalize;
}
#firstday ul{
	width: 100%;
	float: left;
}
#firstday ul li.box{
	width: 48%;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: center;
	border-radius: 2%;
	background-color: #fff;
}
#firstday ul li.center{
	margin: 0 auto;
	margin-bottom: 50px;
}
#firstday ul li div.top{
	background-repeat: no-repeat;
	background-size: cover;
	height: 145px;
}
#firstday ul li div.bg-image{
	background-repeat: no-repeat;
	background-size: cover;
	width: 200px;
	height: 135px;
	border-radius: 28%;
	margin: -50px auto;
}
#firstday ul li div.top.blind{
	background-image: url('../images/blind.jpg');
}
#firstday ul li div.bg-image.blind{
	background-image: url('../images/bg-image/blind.jpg');
}
#firstday ul li div.top.dotcom{
	background-image: url('../images/dotcom.jpg');
}
#firstday ul li div.bg-image.dotcom{
	background-image: url('../images/bg-image/dotcom.jpg');
}
#firstday ul li div.top.fotogram{
	background-image: url('../images/poster.jpg');
}
#firstday ul li div.bg-image.fotogram{
	background-image: url('../images/bg-image/fotogram.jpg');
}
#firstday ul li div.bottom{
	padding: 80px 30px 0 30px;
}
#firstday ul li div.bottom p{
	font-family: 'nunitoregular';
	font-size: 22px;
	font-weight: bold;
	text-transform: capitalize;
}
#firstday ul li div.bottom a{
	display: block;
	color: #000;
	text-align: center;
	font-size: 23px;
	font-family: 'audreymedium';
	font-weight: bold;
	margin-top: 50px;
	text-transform: capitalize;
	padding: 15px 50px;
}
#firstday ul li div.bottom h3{
	text-align: center;
	margin: 20px 0;
	font-family: 'audreymedium';
	font-size: 20px;
	text-transform: uppercase;
}
#firstday ul li div.bottom a.button{
	display: inline-block;
	text-align: center;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
	border: 1px solid #fff;
	border-radius: 50px;
	margin-bottom: 30px;
	background-color: #f5f5f0;
}
#infinito{
	padding-bottom: 70px;
	background-color: #f5f5f0;
}
#infinito div.box{
	width: 48%;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: center;
	margin: 0 auto;
	border-radius: 2%;
	background-color: #fff;
}
#infinito div.box div.top{
	background-image: url('../images/infinito.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 145px;
}
#infinito div.box div.bg-image{
	background-repeat: no-repeat;
	background-size: cover;
	width: 200px;
	height: 135px;
	border-radius: 28%;
	margin: -50px auto;
	background-image: url('../images/bg-image/infinito.jpg');
}
#infinito div.box div.bottom{
	padding: 80px 30px 0 30px;
}
#infinito div.box div.bottom p{
	font-family: 'nunitoregular';
	font-size: 22px;
	font-weight: bold;
	text-transform: capitalize;
}
#infinito div.box div.bottom h3{
	text-align: center;
	margin: 20px 0;
	font-family: 'audreymedium';
	font-size: 20px;
	text-transform: uppercase;
}
#infinito div.box div.bottom a{
	display: block;
	color: #000;
	text-align: center;
	font-size: 23px;
	font-family: 'audreymedium';
	font-weight: bold;
	margin-top: 50px;
	text-transform: capitalize;
	padding: 15px 50px;
}
#infinito div.box div.bottom a.button{
	display: inline-block;
	text-align: center;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
	border: 1px solid #fff;
	border-radius: 50px;
	margin-bottom: 30px;
	background-color: #f5f5f0;
}


/*second day section*/


#secondday{
	padding: 50px 0;
	background-color: #f5f5f0;
}
#secondday div.head{
	margin-bottom: 50px;
	line-height: 2.6em;
}
#secondday div.head h2{
	text-align: center;
    font-family: 'nunitoregular';
	font-size: 40px;
	color: #000;
	text-transform: capitalize;
}
#secondday section.first{
	margin-bottom: 50px;
}
#secondday section.first div.box.image{
	background-image: url('../images/pubg1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center 	
}
#secondday section.second div.box.image{
	background-image: url('../images/quiz1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
#secondday div.box{
	width: 50%;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 2%;
	text-align: center;
}
#secondday div.box.image{
	position: relative;
}
#secondday div.box.image h1{
	position: absolute;
    top: 0px;
    left: 0px;
    color: #fff;
    font-family: sans-serif;
    padding: 15px 15px;
    background-color: red;
    font-size: 17px;
    font-weight: bold;

}
#secondday div.box.content{
	text-align: center;
	padding: 30px 20px;
	background-color: #fff;
}
#secondday div.content h2{
    font-family: 'audreymedium';
	font-size: 50px;
	color: #000;
	text-transform: capitalize;
	margin-bottom: 10px;
}
#secondday div.content p{
	font-family: 'nunitoregular';
	font-size: 22px;
	font-weight: bold;
	text-transform: capitalize;
}
#secondday div.content h3{
	text-align: center;
	margin: 20px 0;
	font-family: 'audreymedium';
	font-size: 20px;
	text-transform: uppercase;
}
#secondday div.content div.rules{
	text-align: justify;
	line-height: 25px;
}
#secondday div.content a{
	display: block;
	color: #000;
	text-align: center;
	font-size: 23px;
	font-family: 'audreymedium';
	font-weight: bold;
	text-transform: capitalize;
	padding: 15px 50px;
}
#secondday div.content a.button{
	display: inline-block;
	text-align: center;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
	border: 1px solid #fff;
	border-radius: 50px;
	background-color: #f5f5f0;
	margin-top: 40px;
}
/*home responsive*/

@media all and (max-width: 640px){
	#home .spotlight h1{
		width: 470px;
	}
	#days div.links a.button{
		display: block;
		width: 100%;
	}
	#days div.links a.button:first-child{
		margin: 30px 0;
	}
}
@media all and (max-width: 480px){
	#home .spotlight h1{
		width: 350px;
	}
	#firstday h2{
		font-size: 35px;
	}
	#secondday h2{
		font-size: 30px;
	}
	#introduction{
		padding: 50px 0;
	}
	#home header span.close{
		right: 45px;
	}
	#home .spotlight p{
		font-size: 20px;
		margin-bottom: -30px;
	}
}



/*first day responsive
*/

@media all and (max-width: 640px){
	#firstday ul li.center{
		width: 100%;
	}
	#firstday ul li.box{
		float: none;
		width: 100%;
	}
	#firstday ul li:last-child{
		margin-top: 50px;
	}
	#infinito div.box{
		width: 100%;
	}
}


/*second day responsive*/

@media all and (max-width: 768px){
	#secondday div.box.image{
		width: 100%;
		float: none;
	}
	#secondday div.box.content{
		float: none;
		width: 100%;
	}
}


/*our teams responsive*/

@media all and (max-width: 768px){
	#ourteams ul li.box {
		width: 48%;
		margin-right: 0;
	}
	#ourteams ul li.box:nth-child(2n) {
		margin-left: 4%;
	}
}
@media all and (max-width: 768px){
	#ourteams ul li.box{
		width: 100%;
	}
	#ourteams ul li.box:nth-child(2n) {
		margin-left: 0;
	}
}

/* footer responsive */

@media all and (max-width: 640px){
    footer div.bottom h4{
        font-size: 12px;
    }
    footer div.bottom {
        padding: 40px 0;
    }
}
@media all and (max-width: 360px){
    footer div.bottom h4{
        font-size: 10px;
    }  
}